<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create page</title>
</head>
<body>
    <h1>글을 만들어보자!</h1>
    <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <p>제목 : <input type= "text" name = "title"></p>
        <p>작성자 : <input type= "text" name = "writer"></p>
        <p>본문 : <textarea name="body" cols="30" rews="10"></textarea></p>
        <p>사진 : <input type="file" name = "image"></p>
        <button type="submit">작성</button>
    </form>

    <!-- 인코딩 type, 사진 부분 p태그 -->
</body>
</html>