<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <p>{{title}}</p>
    <p>{{writer}}</p>
    <p>{{pub_date}}</p>
    <p>{{body}}</p>
    <img src="{{image.url}}" height = 300 >
    <a href="{% url 'update_page' id %}">수정하러가기</a>
    <a href="{% url 'delete' id %}">삭제하러 가기</a>


    <h2> ---------------- 댓글 ------------------</h2>
    {% for comment in comments %}

    <p>{{ comment.user }}: {{ comment.content }} {{comment.date }}</p>

    {% endfor %}
</body>
</html>