<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in blogs %}
        <p>{{i.title}}</p>
    
        <a href= "{% url 'detail'  i.id %}">자세히 보러가기</a>
        {% endfor %}

        <a href= "{% url 'create_page' %}">새 글 쓰러가기</a>

        <nav>
            <div>
                <a >User Project</a>
                <form >
                {% if user.is_authenticated %} <!-- 로그인된 상태인지 체크 -->
                    <a href = "{% url 'logout' %}" >로그아웃</a>
                {% else %} <!--로그인이 되어있지 않은 경우 -->
                    <a href = "{% url 'login' %}" >로그인</a>
                    <a href = "{% url 'signup' %}">회원가입</a>
                {% endif %}
                </form>
            </div>
            </nav>
            {% if user.is_authenticated %}
                {{user.username}}님 안녕하세요 !!!!!
            {% endif %}
</body>
</html>