<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h1>글을 수정해보자!</h1>
    <form action="{% url 'update' id %}" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <p>제목 : <input type = "text" name = "title" value="{{title}}"></p>
        <p>작성자 : <input type = "text" name = "writer" value="{{writer}}"></p>
        <p>본문 : <textarea name = "body" cols="30" rows="10">{{body}}</textarea></p>
        <p>사진 : <input type="file" name = "image"><img src="{{image.url}}" height = 300></p>
        <button type="submit">작성</button>
    </form>
</body>
</html>